= provide(:title, "Kinderfeesten")

.container
  .top-header
    %h1 Kinderfeesten

%section.container.intro-text
  .row.flex-vertical
    .col-sm-8.xs-extra-padding-bottom
      %h4 Een spetterend kinderfeestje
      %p 
        Recreatiebad Stappegoor is de plek voor waterplezier. 
        Kinderen kunnen zich uitleven door van de glijbanen te roetsjen 
        of zich te laten meeslepen door de stroomversnellingen. 
        Genieten van de zon? Dat kan op de grote ligweide bij het buitenbad. 
        Hierdoor is zwembad Stappegoor een aanrader op zowel zonnige als regenachtige dagen. 
        
      %p 
        Genoeg waterpret gehad? De verschillende wellnessvoorzieningen bieden volop ontspanning. 
        Maak gebruik van de whirlpools, jetstreams, Turkse stoombaden en snelbruiners. 
        Kom dus een heerlijk dagje plonzen in zwembad Stappegoor!

      %p 
        Voor een speciaal duikfeestje kan je terecht bij 
        = succeed "." do
          = link_to "DiveSenses", "http://www.divesenses.nl/Kinderen/Duikfeestje_Kinderfeestje_duiken/"

      %p
        Een kinderfeestje kan pas aangevraagd worden <i>vanaf 5 kinderen</i>. 
        Je kan ook telefonisch een kinderfeestje aanvragen door 
        te bellen naar 013 58 11 674.

    .col-sm-4.xs-top-bot-border.sm-left-border
      %h4
        Tips
      %p
        1. Even geen zin om te zwemmen? Er is sterke WiFi in onze cafétaria. 

      %p
        2. Halal of glutenvrij eten kan gewoon bij ons besteld worden.
      

%section.container.kinderfeest-select
  %h3 Kinderfeest pakketten
  .row
    .col-sm-4
      .inner
        %h3 Standaard Zwemfeestje
        %h4.subtitle &euro; 9,95 p.p.

        %ul.items
          %li
            %i.fa.fa-check
            Entree zwembad
          %li
            %i.fa.fa-check
            Frietjes met saus
            %i.fa.fa-info-circle.info-food
          %li
            %i.fa.fa-check
            Snack
            %i.fa.fa-info-circle.info-snack
          %li
            %i.fa.fa-check
            Drankje
            %i.fa.fa-info-circle.info-drink
          %li
            %i.fa.fa-check
            IJsje
          %li
            %i.fa.fa-check
            Snoepzak voor de jarige

        -# .checkbox
          -# %input#checkbox-pie{type: "checkbox"}
          -# %label{for: 'checkbox-pie'}
          -#   Goedkopere taart arrangement.
          -#   %i.fa.fa-info-circle

        .checkbox
        .radio.radio-center
          %input#radio-standard{type: "radio", name: "kinderfeest-type", value: "standard"}
          %label{for: 'radio-standard'}

    .col-sm-4
      .inner
        %h3 Luxe Zwemfeestje
        %h4.subtitle &euro; 12,75 p.p.

        %ul.items
          %li
            %i.fa.fa-check
            Entree zwembad
          %li
            %i.fa.fa-check
            Frietjes met saus
            %i.fa.fa-info-circle.info-food
          %li
            %i.fa.fa-check
            Snack
            %i.fa.fa-info-circle.info-snack
          %li
            %i.fa.fa-check
            Drankje
            %i.fa.fa-info-circle.info-drink
          %li
            %i.fa.fa-check
            IJsje
          %li
            %i.fa.fa-check
            Snoepzak voor de jarige
          %li.special
            %i.fa.fa-check
            Slagroomtaart
          %li.special
            %i.fa.fa-check
            Extra drankje

        .checkbox
        .radio.radio-center
          %input#radio-lux{type: "radio", name: "kinderfeest-type", value: "luxe"}
          %label{for: 'radio-lux'}

    .col-sm-4
      .inner
        %h3 Film en Zwemfeestje
        %h4.subtitle &euro; 16,95 p.p.

        %ul.items
          %li
            %i.fa.fa-check
            Entree zwembad
          %li
            %i.fa.fa-check
            Frietjes met saus 
            %i.fa.fa-info-circle.info-food
          %li
            %i.fa.fa-check
            Snack
            %i.fa.fa-info-circle.info-snack
          %li
            %i.fa.fa-check
            Drankje
            %i.fa.fa-info-circle.info-drink
          %li
            %i.fa.fa-check
            IJsje
          %li
            %i.fa.fa-check
            Snoepzak voor de jarige
          %li.special
            %i.fa.fa-check
            Bioscoopkaartje voor 
            = link_to "Euroscoop", "https://www.euroscoop.nl/tilburg/films/"

        .checkbox
          %input#checkbox-3D{type: "checkbox"}
          %label{for: 'checkbox-3D'}
            Extra 3D bril voor &euro; 1,- p.p.

        .radio.radio-center
          %input#radio-movie{type: "radio", name: "kinderfeest-type", value: "film"}
          %label{for: 'radio-movie'}

%section.container-fluid.form-and-summary
  .container
    = form_tag kinderfeesten_path, id: 'form-main', 'data-toggle': "validator", role: "form" do
      = hidden_field_tag :packetType, "Standaard Zwemfeestje"
      .row
        .col-sm-6.xs-extra-padding-bottom
          %h3 Aanvraag
          .form-group
            = email_tag
            = email_field
            .help-block.with-errors
          .form-group
            = date_tag
            = date_field
            .help-block.with-errors
          .form-group
            = time_tag
            .input-group.bootstrap-timepicker.timepicker
              = time_field
              %span.input-group-addon
                %i.glyphicon.glyphicon-time

              -# %span.add-on
              -#   %i.icon-time
            .help-block.with-errors
          .form-group
            = adults_tag
            = adults_field
            .help-block.with-errors

          .form-group
            = children_tag
            = children_field
            .help-block.with-errors

          .form-group
            = extra_tag
            = extra_field
            .help-block.with-errors

          .form-group.checkbox
            = checkbox_field
            = checkbox_tag
        
        .summary-view.col-sm-6
          %h3 Overzicht
          / This table is generated automatically.
          %table
          .small-note Dit overzicht wordt automatisch bijgewerkt.
          

      .row.final-button
        .form-group
          %button.btn.btn-primary{type: "submit"} Verstuur aanvraag

  / The modal for confirmation
  .modal.fade#confirmSubmission
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: "button", 'data-dismiss': "modal", 'aria-hidden': "true"} x
          %h4.modal-title Bevestiging
        .modal-body
          Wil je deze aanvraag versturen?
          .form-horizontal
            .form-group
              %label.col-xs-4 Email
              .col-xs-8#modalEmail

            .form-group
              %label.col-xs-4 Omschrijving
              .col-xs-8#modalSummary

            .form-group
              %label.col-xs-4 Aantal volwassenen
              .col-xs-8#modalAdults

            .form-group
              %label.col-xs-4 Aantal kinderen
              .col-xs-8#modalChildren

            .form-group
              %label.col-xs-4 Totaalprijs
              .col-xs-8#modalPrice

            .form-group
              %label.col-xs-4 Datum
              .col-xs-8#modalDate

            .form-group
              %label.col-xs-4 Voorkeur lunchtijd
              .col-xs-8#modalTime

            .form-group
              %label.col-xs-4 Extra opmerkingen
              .col-xs-8#modalExtra
        .modal-footer
          %button.btn.btn-primary{type: "submit", form: "form-main"} Verstuur aanvraag
          %button.btn.btn-default{type: "button", 'data-dismiss': "modal"} Annuleer